#hero {
  .a-b-screens {
    margin-top: 136px;
    .st0 {
      fill: $dark-grey;
    }
    .st1 {
      fill: $brand-primary;
      stroke: none;
    }
  }
  .guarantee {
    margin-top: 136px;
    p {
      margin-top: 20px;
    }
    .st0 {
      fill: $dark-grey;
    }
  }
  .clients {
    p {
      color: $light-grey;
      margin-top: 100px;
    }
    svg {
      margin-top: 40px;
    }
    .st0 {
      fill: white;
    }
  }
}

#section1 {
  background-color: $brand-primary;
  h2 {
    color: white;
	  font-size: 24px;
	  line-height: 30px;
    padding: 75px 0 36px;
  }
  svg {
    margin-bottom: 84px;
    .st0 {
      fill: white;
    }
    .st1 {
    fill: none;
    }
  }
}

#section2 {
  .phase-one {
    padding-top: 80px;
    h3 {
      font-weight: lighter !important;
      color: $light-grey;
      margin-top: -8px;
    }
    .ph1-schedule {
      margin-top: 84px;
      .st1 {
        stroke: none;
      }
    }
    .container {
      width: 800px;
    }
    p {
      padding-top: 30px;
    }
    h5 {
      padding-top: 44px;
      color: $brand-magento;
    }
    ul li {
      display: inline-block;
    }
    .tools {
      margin-bottom: 78px;
    }
    .jack-btn1 {
        display: block;
        margin: auto;
    }
    #phase-one-bullets {
      background-color: $light-grey-bg;
      margin-top: 62px;
      .top-row {
        margin-top: 120px;
      }
      .bottom-row {
        margin: 66px 0 100px;
      }
      .bullets {
        .st0 {
          fill: $brand-magento;
          vertical-align: top;
        }
        svg {
          margin-top: 8px;
        }
        h5 {
          padding-top: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 0px;
        }
      }
    }
  }


  .phase-two {

  }
}
